.hr
  .demo
    %p{id: "demo"}
  .demo
    %button.btn.btn-default{type:"submit", onClick: "getLocation()"}
      Get My Location
    %button.btn.btn-default{type:"submit", onClick: "moveLocation()"}
      Move Location
  #map
%script{src:"https://maps.googleapis.com/maps/api/js"}
:javascript
  var x = document.getElementById("demo");
  var m = document.getElementById("map");
  var pos = null;
  var map = null;
  var marker = null;

  function getLocation(callback) {
    if (navigator.geolocation) {
      if(callback == null) { callback = showPosition; }
      navigator.geolocation.getCurrentPosition(callback, error);
    } else { 
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;  
    pos = position;
    if(map == null) {
      initialize(pos.coords.latitude, pos.coords.longitude);
    }
  }

  function error() {
    alert("issue retrieving position");
  }

  function initialize(lat,lng) {
    var mapCanvas = document.getElementById('map');
    var mapOptions = {
      center: new google.maps.LatLng(lat, lng),
      zoom: 14,
      mapTypeId: google.maps.ROADMAP
    };
    map = new google.maps.Map(mapCanvas, mapOptions);
    marker = new google.maps.Marker({  
      position: new google.maps.LatLng(lat, lng),  
      map: map  
    });
  }


  function moveLocation() {
    getLocation(move);
  }
 
  function move(position) {
    showPosition(position);
    pos=position;
    marker.setPosition( new google.maps.LatLng( pos.coords.latitude, pos.coords.longitude ) );
    map.panTo( new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude));  
  }

  getLocation(null);
